<section class="about">
  <div class="image">
    <img src="assets/images/about-page.svg" alt="about" />
  </div>

  <div class="content">
    <h1>a word about us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      nesciunt omnis earum reprehenderit, deleniti rem adipisci et voluptate
      quasi, quas sunt, quibusdam cupiditate atque? Fugit at nemo harum
      ducimus recusandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
      voluptates quas, odit, culpa explicabo quibusdam perferendis rerum sit
      soluta fuga nostrum! Quas voluptas quaerat nam aspernatur quisquam
      repellendus totam accusantium?
    </p>
    <a href="plan"><button class="btn">learn more</button></a>
  </div>
</section>